option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application
    PythonVersion: 3.11

  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    FLASK_DEBUG: 'false'

container_commands:
  01_install_requirements:
    command: "pip install -r requirements.txt"
  
  02_install_gunicorn:
    command: "pip install gunicorn"